# Dependencies
node_modules/

# Build outputs
dist/
out-tsc/

# IDE / editor
.vscode/
.idea/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# Angular cache
.angular/

