@use './breakpoints' as bp;

/* Page & container */
.page {
  min-height: calc(100dvh - var(--app-nav-offset) - var(--sab));
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;

  @include bp.max-sm {
    padding: 0 16px;
  }
}
